@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

* {
  font-family: 'Outfit', sans-serif;
}

p {
  text-align: justify;
}

section {
  scroll-margin-top: 5rem;
}
}

html {
  scroll-behavior: smooth;
}
